
/* Colors:

/*  */

body {
    font-family: 'proxima-nova', sans-serif;
    color: 1A1A1A;
    margin: 0px;
    padding: 0px;
    font-size: 120%;
}

/* .basic-spacing {
    margin: 50px 10% 50px 10%;
    padding: 50px 5% 50px 5%
} */

/* Text: 1A1A1A
Green: #00B172
White: #FFF */

 /* Header settings */

header {
    height: 120px;
    position: fixed;
    width: 100%;
    background-color:white;
}

 .navigation {
    list-style-type: none;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .links {
    padding: 0px 25px 0px 0px;
    font-size: 30px;
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
 }

 .links > li{
     margin-right: 35px;
     margin-left: 35px;
 }

.navigation > img {
    height: 85px;
}

/* Main Body */

 .landing-info {
     background-image: url(/images/landing.jpg);
     background-size: cover;
     height: 1100px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;
 }

 h1 {
     font-size: 135px;
 }

 .landing-info > p {
     font-size: 36px;
     margin: 0px 25% 0px 25%;
     text-align: center;
 }

/* Block TWO */

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 .info-logos {
     height: 100px;
 }

 h2 {
     text-align: center;
 }


 .info-column {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
    
 .info-column > h3 {
    color: #00B172;
}

 .info-column > p {
    size: 100px;
 }


 
 /* Block THREE */

#yeezy-box {
    background-color:#00B172;
    color: white;
    background-image: url('/images/spotify-icon-white.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 250px;
}

.yeezy-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-info-column {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#center-spotify-logo {
    height: 100px;
}

#app-image {
    width: 300px;
}